body{
  background-color: black;
}
h1, p {
  font-family: Lato;
  margin: 0;
}
.app{
  width: 600px;
  margin:100px auto;
  background-color: white;
  border: 1px solid black;
  min-height: 350px;
  position: relative;
  padding: 0 0 25px;
  text-align: center;
}
.todos{
  padding: 25px 25px 45px;
  min-height: 300px;
  position: relative;
}
.app > h1 {
  border-bottom: 1px solid black;
  background-color: #dedede;
  height: 50px;
}
.app > h4 {
  margin: 15px 0;
}
.app input{
  padding: 0 10px;
}
.signature{
  position: absolute;
  bottom: 0px;
  right: 10px;
  height: 20px;
}
.setFilter{
  position: absolute;
  bottom: 0px;
  width: 548px;
}
.button-group{
  position: relative;
}
.button-group > button{
  min-width: 100px;
  margin-right: 5px;
}
.button-group > #deleteAll{
  position: absolute;
  right: 0px;
}
.todo{
  text-decoration: line-through;
}
.list-group{
  margin-top: 10px;
}